{% extends 'base.html.twig' %}

{% block title %}Liste des Ingrédients{% endblock %}

{% block body %}
    <h1>Liste des Ingredients</h1>
    <ul>
    {% for ingredient in ingredients %}
        <li><a href="{{ path('app_ingredient_show', {id : ingredient.id}) }}">
            {{ ingredient.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
