{% extends 'base.html.twig' %}
{% block title %}{{ ingredient.name }}{% endblock %}
{% block body %}
    <h1>{{ ingredient.name }}</h1>
    <dl>
        <dt>Ingrédient : </dt>
        <dd>{{ ingredient.name }}</dd>
        <dt>Catégorie :</dt>
        <dd>{{ ingredient.category.name }}</dd>
    </dl>
{% endblock %}
