{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/recipeCategory_show.css') }}">
{% endblock %}

{% block body %}
    <h2 class="d-flex">
        <div>Liste des {{ recipeCategory.name }}</div>
    </h2>
    {{ include('recipe/_recipies.html.twig') }}
{% endblock %}

