.cat-menu {
    background-color: white;
    border-radius: 50px 0 0 50px;
    border: 1px solid black;
}
.cat-menu:hover {
    background-color: white;
    border-radius: 50px 0 0 50px;
    border: 1px solid black;
}
.form-control {
    border-radius: 0 0 0 0;
    border-color: black;
}
.btn-outline-success {
    border-radius: 0 50px 50px 0;
}
@media screen and (min-width: 991px)
{
    .navbar-nav {
        display: flex;
    }

    .truc {
        display: flex;
        flex-grow: 1;
    }

    .form {
        display: flex;
        flex-grow: 1;
        justify-content: center;
    }

    .form-control {
        width: 500px;
    }
}
