
.body {
    font-family: "Comic Sans MS" , sans-serif;
    overflow: auto;
}
.home_body {
    height: 100%;
}
.home_video {
    background-color: black;
    width: 100%;
    height: 30vh;
}
.home_video .video{
    width: 100%;
    height: 30vh;
    overflow: hidden;
    object-fit: cover;
}
.filter_list {
    width: 15%;
    padding-left: 20px;
    padding-top: 10px;
    color: #2ca61e;
}
.home_recipe {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    width: 85%;
}

.custom-card {
    width: 350px;
    height: 350px;
}

.home_recipe .img_recipe {
    width: 90%;
    height: 80%;
}
