{% extends 'base.html.twig' %}

{% block body %}
    <h1>Supprimer la recette</h1>
    {{ form_start(form) }}
        {{ form_row(form.confirm_delete) }}
    {{ form_end(form) }}
    <a href="{{ path('app_recipe') }}">Retour à la liste des recettes</a>
{% endblock %}

{% block title %}
{% endblock %}
