{% extends 'base.html.twig' %}

{% block title %}Liste des recettes{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Liste des recettes</h1>
    {{ include('recipe/_recipies.html.twig') }}
{% endblock %}
