{% extends 'base.html.twig' %}

{% block title %}user show{% endblock %}

{% block body %}
    <h1>{{ user.firstname }}</h1>
    <h4>Liste des recettes</h4>
    <ul>
    {% for recipe in user.recipes %}
        <li><a href="{{ path('app_recipe_show', {'id': recipe.id}) }}">{{ recipe.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
